# ==========================
# Next.js + Prisma + PostgreSQL
# ==========================

# Node 環境
NODE_ENV=development

# PostgreSQL 用
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_database_name

# Next.js / Prisma が接続する DB
DATABASE_URL=postgresql://your_postgres_user:your_postgres_password@db:5432/your_database_name

# Prisma 用（Shadow DB）
SHADOW_DATABASE_URL=postgresql://your_postgres_user:your_postgres_password@db:5432/your_shadow_database
